.media {
	float: left;
	height: 320px;
	width: 320px;
	border: 3px solid #FFFFFF;
	white-space: nowrap;
}

#topphoto {
	clear: both;
}

#scrollbar{
	overflow-x: scroll;
	overflow-y: hidden;
	height: 320px;
	width: auto;
	white-space: nowrap;
}
