.media {
	display: inline
	float: left;
	height: 320px;
	width: 320px;
	border: 1px solid #FFFFFF
}

#topphoto {
	clear: both;
}

#scrollbar{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}
